{{{operationComments}}}export async function {{operationName}}({{#operationIsFormData
}}formdata{{/operationIsFormData}}{{^operationIsFormData
}}{{#operationParamsClass
  }}params: {{serviceClass}}.{{operationParamsClass}}{{/operationParamsClass}}{{^operationParamsClass
  }}{{#operationParameters}}{{paramVar}}{{^paramRequired}}?{{/paramRequired}}: {{{paramType
  }}}{{^paramIsLast}},
    {{/paramIsLast}}{{/operationParameters}}{{/operationParamsClass
    }}{{/operationIsFormData}}): Promise<AxiosResponse<ICommonResponse<{{{operationResultType}}}>>> {
    return $http.{{operationLowerMethod}}<ICommonResponse<{{{operationResultType}}}>>(`{{{operationPath}}}`{{>queryMulParams}}{{>querySingleParams}}{{>bodyParams}}{{>formDataParams}})
  }
